   .db-title {
    font-size: 3rem;
    text-align: center;
    color: #333;
    margin-bottom: 40px;
  }
  
  .chart-comp{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #2c3e50;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    display: flex;
    background: #fff;
    width: 300px;
    flex-direction: column;
    align-items: center;
  }

  .db-box {
    background: #f0f4f8;
    min-height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .db-comp{
    font-size: 3rem;
    color: #ecf0f1;
    margin-bottom: 40px;
    text-align: center;
    text-decoration: underline;
  }

  .widget-box {
    justify-content: center;
    gap: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .widget-comp:hover {
    transform: translateY(-5px);
  }

  .box-div {
    background: #2c3e50;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #00C9FF;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
  }

  .widget-comp {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #00C9FF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }